<div class="padding-global">
  <div class="container-large">
    <div class="padding-section-large">
      <div class="flex_wrap space-between">
        <div class="flex_12">
          <div class="signpost_wrap">
            <div class="signpost">
              {{ section.settings.text_signpost_text }}
            </div>
            <div class="signpost_line"></div>
          </div>
        </div>
      </div>
      <div class="products_grid is-4-col">
        {% for range in shop.metaobjects.range.values %}
          <div li-for="range in shop.metaobjects.range.values">
            <a
              li-object:href="range.system.url"
              href="{{ range.system.url }}"
              class="product-card_hover-in w-inline-block"
            >
              <img
                src="{{ range.home_image | img_url: 'master' }}"
                loading="lazy"
                li-object:src="range.home-image | img_url: 'master'"
                alt=""
                class="product-img"
              >
            </a>

            <link rel="prefetch" href="/shop/product">

            <div class="product-card_details">
              <h2 li-object:text="range.meta_title" class="heading-style-h3">
                {{ range.meta_title }}
              </h2>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="button-group is-center pt-2">
        <a href="pages/shop-all" class="button is-add-to-cart-button is-alt is-btn w-button">shop all</a>
      </div>
    </div>
  </div>
</div>
{% schema %} {"tag":"section","name":"Range Selection","class":"section","settings":[{"id":"text_signpost_text","type":"text","label":"Signpost Text","default":"best sellers"}],"presets":[{"name":"Range Selection","category":"Liquify"}]} {% endschema %}
