<div class="padding-global"><div class="container-large"><div class="padding-section-large u-mt-header"><div id="w-node-b09ad314-c0f8-bfd5-2013-e7905f9f6c6e-03aa54e1" class="max-width-large"><div class="align-center text-align-center"><h1 class="heading-style-h2">
{{ section.settings.text_heading }}
</h1>
<p class="newsletter">
{{ section.settings.text_paragraph_text }}
</p>
<div class="button-group is-center"><a li-object:href="routes.root_url" href="{{ routes.root_url }}" class="button w-button">homepage</a></div></div></div></div><div class="section_line"></div></div></div> {% schema %} {"tag":"section","name":"Thank You","class":"section","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"Thank you for signing up to<br\/>\u200dour newsletter "},{"id":"text_paragraph_text","type":"text","label":"Paragraph Text","default":"Thanks for signing up to our newsletter."}],"presets":[{"name":"Thank You","category":"Liquify"}]} {% endschema %}